.profileBadgeArea {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.badgeNum {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2rem;
    color: black;
    text-align: center;
}

.pbImg {
    border: 3px solid pink;
    border-radius: 15px;
    height: 300px;
    margin-bottom: 2rem;
    width: 200px;
}

.badgeArea {
    display: inline-block;
}

.picName {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2rem;
    color: black;
}