.profileBadgeArea {
    background-color: honeydew;
    border: 3px solid pink;
    border-radius: 20px;
    display: flex;
    height: 35rem;
    justify-content: space-around;
    margin: 0 10rem 0 10rem;
}

.badgeNum {
    text-align: center;
}

.pbImg {
    border: 3px solid pink;
    border-radius: 15px;
    /* display: flex; */
    height: 300px;
    /* justify-content: space-around; */
    /* left: 50%; */
    /* position: relative; */
    /* transform: translateX(-50%); */
    width: 200px;
}

.badgeArea {
    display: inline-block;
    /* text-align: center; */
}