.profileBadgeArea {
    background-color: honeydew;
    border: 3px solid pink;
    border-radius: 20px;
    height: 35rem;
    margin: 0 10rem 0 10rem;
}

.badgeNum {
    text-align: center;
}

.pbImg {
    border: 3px solid pink;
    border-radius: 15px;
    height: 300px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 200px;
}

.badgeArea {
    display: inline-block;
    margin: 3rem;
    text-align: center;
}