.uTitle {
    text-align: center;
}

.uImg {
    border: 3px solid pink;
    border-radius: 15px;
    height: 400px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 500px;
}

.uBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}