.bCont {
    background-color: honeydew;
    border: 3px solid pink;
    border-radius: 15px;
    margin: 2rem 10rem 0 10rem;
}

.bTitle {
    color: goldenrod;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    text-align: center;
}

.bStuff {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    text-align: center;
}

.bBtn {
    position: relative;
    left: 50%;
    margin-bottom: 2rem;
    transform: translateX(-50%);
}

.bImg {
    border: 3px solid pink;
    border-radius: 15px;
    height: 300px;
    left: 50%;
    position: relative;
    margin-bottom: 2rem;
    transform: translateX(-50%);
    width: 200px;
}