.pHeader {
    display: flex;
    margin: 0 0 0 30px ;
    flex-wrap: wrap;
}

.pImg {
    border: 3px solid pink;
    border-radius: 10px;
    height: 200px;
    margin-right: 50px;
    width: 200px;
}

.pH {
    font-family: 'Luckiest Guy', cursive;
}

.pBtn {
    display: flex;
    justify-content: flex-end;
}

.pBody {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}