.tyArea {
    background-color: honeydew;
    border: 3px solid pink;
    border-radius: 15px;
    margin: 2rem 10rem 0 10rem;
    text-align: center;
}

.tyTitle {
    color: goldenrod;
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
}

.tyCont {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2rem;
    color: black;
}

.tyBtn {
    margin: 2rem;
}