.qContent {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.qTitle {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

.qArea {
    background-color: honeydew;
    border: 3px solid pink;
    border-radius: 15px;
    color: mediumvioletred;
    margin: 3rem 10rem 3rem 10rem;
}