.aboutContainer {
    background-color: honeydew;
    border: 3px solid pink;
    border-radius: 15px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin: 5rem;
    padding: 2rem;
}